.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.ant-layout-header {
  height: 68px !important;
  padding: 0 50px 50px 0;
  line-height: 64px;
  background: #0029;
  border-bottom: 2px solid turquoise;
}

menu.style {
  line-height: 64px;
  background: black;
  border-bottom: 2px solid turquoise;
  height: 64px;
}

.home-cards{
  background: #09d3ac
}

.ant-card-meta-detail > div:not(:last-child) {
  margin-bottom: 8px;
  color: white;
}

.ant-card-meta-description {
  color: white !important;
}

.todoelhome{
  background: black
}

/* .ant-card-bordered {
  
  width: 20vw;
  display: flex;
  flex-direction: column;
  border: 1px solid turquoise;
  height: 30vh;
  background: black;
} */


.ant-card-meta-title {
  overflow: hidden;
  
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white !important;
}

.ant-descriptions-item-content {
  display: table-cell;
  color: white !important;
  font-size: 14px;
  line-height: 1.5;
}

.ant-descriptions-item-label {
  color: white !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;
}
.ant-card-actions {
  margin: 0;
  padding: 0;
  list-style: none;
  background: black;
  border-top: 1px solid turquoise;
  zoom: 1;
}

@media  (max-width: 500px){
  .onMobile{
    display: block !important;
    width: 100% !important;
  }
  .onMobileGame{
    width: 80vw !important;
  }
  .onMobileGameVideo{
    width: 80vw !important;
  }
  .onMobileTeamOwnerDiv{
    display: flex !important;
    flex-direction: column !important;
    margin-left: 0px !important;
    margin-top: 5vh !important;
    
  }
  .onMobileTeamCardDiv{
    width: 70vw !important;
    height: 50vh !important;

  }
  .onMobileTeamCardImg{
    height: 20vh !important;
    width: 68vw !important;
    margin-left: 0px !important;
  }
  .onMobileTeamCardMembers{
    height: 40vh !important;
    width: 60vw !important;
  }
  .onMobileTeamCardMembersImg{
    height: 20vh !important;
    width: 40vw !important;
    margin-left: 10vw !important
  }
 
}